* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* variabili colori */
:root {
    --light-blue: #b4d0e7;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* regole generali e comuni */

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.btn {
    padding: 5px 15px;
}

.blue-btn {
    color: white;
    background-color: #0061ff;
}

.col {
    float: left;
}

.cont-80 {
    width: 80%;
    margin: 0 auto;
}
.cont-70 {
    width: 70%;
    margin: 0 auto;
}


/* header */

.drop-header {
    width: 100%;
}

/* navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 0.9em;
    background-color: white;
}

.left-nav {
    height: 100%;
    width: 50%;
    padding-left: 1em;
}
.right-nav {
    height: 100%;
    width: 50%;
    text-align: right;
    padding-right: 1em;

}

.logo-container {
    display: inline-block;
    margin-right: 1.5em;
    
}

.drop-logo {
    vertical-align: sub;
}

.nav-link-list {
    display:inline-block;
}

.nav-link-list > li {
    display:inline-block;
}

.nav-link-list li a{
    color: black;
    margin-right: 1.8em;
}

/* jumbotron */

.jumbo {
    width: 100%;
    padding-top: 8em; 
    background-color: var(--light-blue);
}

.jumbo-text > p {
    margin-bottom: 1.7em;
    line-height: 1.4em;
}
.jumbo-text > a {
    display: inline-block;
    margin-bottom: 0.5em;
}
.jumbo-text a + p{
    font-size: 0.7em;
}
.fas.fa-arrow-down {
    font-size: 2em;
}

.jumbo-text.col {
    width: 30%;
}

.jumbo-img.col {
    width: 70%;
}

.jumbo-img > img {
    width: 80%;
    transform-origin: top left;
    transform: scale(1.2);
}

/* Layout prezzi */

.main-content-container {
    margin-top: 150px;
    background-color: yellow;
}

.price-layout {
    width: 100%;
    background-color: yellowgreen;
}

.price-header {
    width: 100%;
    height: 100px;
    background-color: red;
}

.price-plan {
    width: calc(100% / 3);
    height: 500px;
    background-color: violet;
}

.price-footer {
    width: 100%;
    height: 100px;
    background-color: turquoise;
}